html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: 50px auto 50px;
    color: #000;
}

a {
    color: #ed0000;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: #00A6ED;
}

/* LOGO */

.logo {
    display: inline-block;
    margin-top: 13px;
    margin-left: 10px;
}

/* MENU */

ul {
    list-style-type: none;
    float: right;
}


ul li {
    float: left;
}

nav {
    grid-row: 1;
    border-bottom: 1px solid grey;
}

li a {
    display: block;
    padding: 0 8px;
    font-weight: bold;
    color: #00A6ED;
}

li a.active {
    color: #ee2d4d;

}

li a:hover:not(.active) {
    color: #08415C;
}

/* REGISTER FORM */

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: 100%;
    background-color: #00A6ED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type=submit]:hover, button:hover {
    background: #08415C;
    color: #FFB400;
}


.form {
    width: 400px;
    text-align: center;
    margin: 20px auto;
}

.form-info {
    background: #2B2D42;
    color: #EF233C;
    font-weight: bold;
    padding: 4px;
}


/* MAIN */

main {
    grid-row: 2;
}

/* SINGLE URL STATISTICS */

.url-statistics {
    text-align: center;
    margin-top: 30px;
}

.url-statistics h2 {
    display: inline-block;
}

.copyToClipboard {
    margin-left: 10px;
    width: auto;
}



/* TOOLTIP */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 30%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 30%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: visible;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/
    /*filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);*/
    opacity: 1;
    transition-delay:0.3s;
}


/* MULTIPLE ADDRESSES */

.sub-header {
    margin: 3px;
    color: firebrick;
    font-weight: bold;
}

.multiple-addresses  {
    width: 70%;
    margin:0 auto;
    text-align: center;
}

.multiple-addresses textarea {
    width: 100%;
    min-height: 120px;
    resize: none;
}

.multiple-addresses button {
    width: 30%;
}

.urls-list-form {
    width: 60%;
    margin: 0 auto;
    text-align: center;

}

.urls-list-form ul {
    float: none;
}

.urls-list-form ul li {
    width: 100%;
}


/* FOOTER */

footer {
    background: #0D2C54;
    color: #fff;
    grid-row: 3;
    text-align: center;
}